.profils * {
  float: left; margin: 1em;
}
.profil {
  width: 540px; min-heigth: 480px; padding: 1em;
  margin-left: auto; margin-right: auto; margin-top: 10%;
  border-style: solid; border-width: thin; border-radius: 1em;
  background-color: white;
}
.image {
  float: left; max-width: 96px; display: block;
  border-style: none;
  margin-right: 1em;
}
.pseudo{}
.pseudo::before{
  content: '« ';
}
.pseudo::after{
  content: ' »';
}
.prénom {}
.nom {}
.qualités {
  margin: 0.4em; padding: 0.4em;
  font-style: italic; font-weight: small;
  background-color: #FAFAFA;
}
.qualité {
}
.description {
  clear: both;
  margin-top: 1em; margin-left: 40%; padding: 1em;
}
.description::before {
  font-size: 6em; font-weight: bold; color: silver;
  line-height: 0.6em; padding-right: 4px;
  left: -10%; float: left; display: block;
  content: '« ';
}
body {
  background-color: silver; font-family: sans;
  padding: 0; margin: 0;
}
h1, h2 {
  padding: 0; margin: 0;
}

